*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
}

/*Header */

.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    color: #424144;
    font-weight: 900;
}

.navbar .logo:hover{
    color: #f63e4e;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid gray;
}

.navbar .menu li a i{
    color: gray;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid gray;
    transition: 0.1s;
}

/* Content */

.content{
    background-image: url(abstract-blur-shopping-mall_1203-8772.avif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:  black;
    height: 100vh;
    
}
.content h1{
    font-size: 40px;
}

.content p{
    font-size: 20px;
    margin-top: 20px;
}

.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background:red;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.content button:hover{
    background-color: #f3f4f6;
    color: black;
    transition: 0.2s;
}



.paragrapheheading{
    text-align: center;
    margin: 50px;
    color: black;
}

/* Produts */

.sec{
    padding: 10px 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.products .card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

/* footer */

footer{
    background-color: #f3f4f6;
    height: 10vh;
}

footer p{
    text-align: center;
    line-height: 10vh;
}

footer p a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/* R